* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  padding: 1rem;
}

#box {
  position: relative;
  width: 30vmin;
  height: 30vmin;
  background-color: red;
  border-radius: 8px;
}
